@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background: crimson;
}

.start_btn,
.info_box,
.quiz_box,
.result_box,
.wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0px 4px 8px 0 rgba(70, 39, 39, 0.2),
    0px 6px 20px 0 rgba(0, 0, 0, 0.19);
  transition: all 0.3s ease-in;
}

/* Styling the start button */
.start_btn button {
  font-size: 25px;
  font-weight: 500;
  background-color: #fff;
  color: crimson;
  padding: 15px 30px;
  outline: none;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/* Styling information box */
.info_box {
  display: none;
  width: 540px;
  height: auto;
  background-color: #fff;
  border-radius: 5px;
}

.info_box .info_title {
  height: 60px;
  width: 100%;
  border-bottom: 1px solid lightgrey;
  display: flex;
  align-items: center;
  padding: 0 35px;
  font-size: 22px;
  font-weight: 600;
}

.info_box .info_list {
  padding: 15px 35px;
}

.info_box .info_list .info {
  margin: 5px 0;
  font-size: 17px;
  font-weight: 400;
}

.info_box .info_list .info span {
  font-weight: 600;
  color: crimson;
}

.info_box .buttons {
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 0 35px;
  border-top: 1px solid lightgrey;
}

.info_box .buttons button {
  margin: 0 5px;
  height: 40px;
  width: 100px;
  border: 1px solid transparent;
  outline: none;
  color: #fff;
  border-radius: 5px;
  font-size: 18px;
  cursor: pointer;
  font-weight: 500;
  transition: all 0.3s ease;
}

.info_box .develop_tag {
  font-size: 18px;
  font-weight: 500;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 10px 35px;
}

.info_box .develop_tag img {
  height: 30px;
  width: 40px;
  margin: 0 15px;
}

.buttons button.quit {
  border-color: crimson;
  color: crimson;
  background-color: transparent;
}

.buttons button.quit:hover {
  border-color: crimson;
  color: #fff;
  background-color: crimson;
}

.buttons button.restart {
  border-color: crimson;
  color: #fff;
  background-color: crimson;
}

.buttons button.restart:hover {
  border-color: crimson;
  color: crimson;
  background-color: transparent;
}

/* Available categories */
.wrapper {
  background-color: #fff;
  width: 500px;
  border-radius: 10px;
  padding: 18px 25px 20px;
  display: none;
}

.wrapper .title {
  display: flex;
  align-items: center;
}

.wrapper .title h2 {
  font-size: 22px;
  margin-left: 10px;
  font-weight: 600;
}

.wrapper .title .fa-tags {
  font-size: 18px;
}

.wrapper .content {
  margin: 10px 0;
}

.content p {
  font-size: 17px;
  font-weight: 400;
}

.content .tag_container {
  margin: 10px 0px;
  border: 1px solid #a6a6a6;
  max-height: 200px;
  overflow-y: auto;
  border-radius: 5px;
}

.content .tag_container ul {
  display: flex;
  padding: 3px 5px;
  margin: 8px 0;
  border-radius: 5px;
  flex-wrap: wrap;
  word-break: break-all;
}

.content .tag_container::-webkit-scrollbar {
  width: 10px;
}

.content .tag_container::-webkit-scrollbar-track {
  background-color: #fff;
}

.content .tag_container::-webkit-scrollbar-thumb {
  background-color: crimson;
  border-radius: 50px;
}

.content ul li {
  list-style: none;
  background-color: #f2f2f2;
  padding: 5px 8px 5px 10px;
  margin: 5px 5px;
  border-radius: 5px;
  border: 1px solid #e3d1e1;
  cursor: pointer;
  font-weight: 500;
}

.wrapper .details {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.wrapper .details p {
  font-weight: 500;
  font-size: 17px;
}

.wrapper .details p span {
  font-weight: 600;
  font-size: 18px;
}

.wrapper .details .proceed {
  background-color: crimson;
  color: #fff;
}

ul .tag.tag_selected {
  background: crimson;
  color: #fff;
}

/* Quiz box */
.quiz_box {
  width: 550px;
  background-color: #fff;
  border-radius: 5px;
  display: none;
}

.quiz_box header {
  position: relative;
  z-index: 99;
  height: 70px;
  padding: 0 30px;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 5px 5px 0 0;
  box-shadow: 0 3px 5px 1px rgba(0, 0, 0, 0.1);
}

.quiz_box header .title {
  font-size: 22px;
  font-weight: 600;
}

.quiz_box header .timer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 145px;
  height: 45px;
  background: #cce5ff;
  border: 1px solid #b8daff;
  border-radius: 5px;
  padding: 0 8px;
}

.quiz_box header .time_line {
  position: absolute;
  bottom: 0;
  left: 0;
  background: crimson;
  height: 3px;
}

.quiz_box header .timer .time_text {
  font-weight: 400;
  font-size: 18px;
  user-select: none;
}

.quiz_box header .timer .timer_sec {
  font-size: 18px;
  font-weight: 500;
  background-color: #343a40;
  height: 30px;
  width: 45px;
  color: #fff;
  text-align: center;
  line-height: 30px;
  border-radius: 5px;
  user-select: none;
}

.quiz_box section {
  padding: 25px 30px 20px 30px;
  background-color: #fff;
}

.quiz_box section .que_text {
  font-size: 21px;
  user-select: none;
  font-weight: 600;
}

.quiz_box section .option_list {
  padding: 20px 0;
  display: block;
}

.quiz_box section .option_list .option {
  display: block;
  background: #dacdcd;
  border-radius: 5px;
  padding: 10px 15px;
  margin-bottom: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  font-size: 18px;
  font-weight: 500;
  transition: all 0.3s ease;
}

.option_list .option {
  color: #000 !important;
}

/* section .option_list .option:hover {
  color: #004085;
  background: #cce5ff;
  border-color: #b8daff;
} */

.option_list .option:last-child {
  margin-bottom: 0px;
}

.option_list .option .icon {
  height: 26px;
  width: 26px;
  border: 2px solid transparent;
  border-radius: 50%;
  text-align: center;
  font-size: 13px;
  line-height: 24px;
  pointer-events: none;
  display: none;
}

.option_list .option .icon.correct {
  border-color: #23903c;
  color: #23903c !important;
  background: #fff;
}

.option_list .option .icon.incorrect {
  border-color: #a42834;
  color: #a42834 !important;
  background: #fff;
}

.option_list .option.correct {
  background-color: #11b838 !important;
  color: #fff !important;
}

.option_list .option.incorrect {
  background-color: #e21717 !important;
  color: #fff !important;
}

.disabled {
  pointer-events: none;
}

.quiz_box footer {
  height: 60px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;
}

.quiz_box footer .total_que span {
  display: flex;
  user-select: none;
}

footer .total_que span p {
  font-weight: 500;
  padding: 0 5px;
}

.total_que span p:first-child {
  padding-left: 0px;
}

footer .next_btn {
  height: 40px;
  padding: 0 13px;
  outline: none;
  font-weight: 500;
  font-size: 18px;
  border: none;
  background: crimson;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
}

/* Result box */
.result_box {
  background: crimson;
  width: 450px;
  padding: 25px 30px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  transform: translate(-50%, -50%) scale(1);
}

.result_box.disabled {
  display: none;
}

.result_box .ico {
  font-size: 100px;
  margin-bottom: 10px;
  color: #fff;
}

.result_box .complete_text {
  font-size: 20px;
  font-weight: 500;
  color: #fff;
}

.result_box .score_text span {
  display: flex;
  margin: 10px 0;
  font-size: 18px;
  font-weight: 500;
  color: #fff;
}

.result_box span p {
  font-weight: 600;
  padding: 0 4px;
}

.result_box .buttons {
  display: flex;
  margin: 20px 0;
}

.wrapper .details .proceed,
.result_box .buttons button {
  margin: 0 10px;
  height: 40px;
  padding: 0 20px;
  border: 1px solid transparent;
  outline: none;
  font-weight: 500;
  font-size: 18px;
  cursor: pointer;
  border-radius: 5px;
}

.result_box .buttons button.restart,
.result_box .buttons button.quit {
  color: crimson;
  background-color: #fff;
}

/* Make the information section responsive */
@media screen and (max-width: 580px) {
  .info_box,
  .quiz_box,
  .wrapper,
  .result_box {
    width: 450px;
  }
}

@media screen and (max-width: 450px) {
  .info_box,
  .quiz_box,
  .result_box,
  .wrapper {
    width: 400px;
  }
}

@media screen and (max-width: 400px) {
  .start_btn button {
    padding: 15px 25px;
  }

  .info_box,
  .quiz_box,
  .result_box,
  .wrapper {
    width: 340px;
  }

  .quiz_box header .title {
    font-size: 17px;
  }

  .quiz_box header .timer .time_text,
  .quiz_box header .timer .timer_sec {
    font-size: 15px;
  }

  .quiz_box header .timer {
    padding: 0 4px;
    width: 125px;
    height: 35px;
  }

  .quiz_box section .que_text {
    font-size: 18px;
  }

  .quiz_box section .option_list .option {
    font-size: 14px;
  }

  .result_box .score_text span {
    display: flex;
    margin: 10px 0;
    font-size: 16px;
    font-weight: 500;
  }

  .result_box span p {
    font-weight: 600;
    padding: 0 4px;
  }
}
